div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 100000;
    }
}

.manage-patient-container {
    .m-p-title {
        font-size: 15px;
        font-weight: 600;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;
    }

    .manage-patient-body {
        padding: 0 20px;

        .table-manage-patient {

            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th,
            td {
                padding: 5px;
                text-align: left;
            }

            button {
                border: none;
                outline: none;
                cursor: pointer;
                border-radius: 3px;
            }

            .mp-btn-confirm {
                background-color: #4CAF50;
                color: white;
                padding: 5px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 12px;
                margin: 4px 2px;

                &:hover {
                    background-color: #45a049;
                }
            }

        }
    }
}