.user-redux-container {
    .btn {
        width: 80px;
        min-width: none;
        margin-bottom: 10px;
    }
}


.preview-img-container {
    display: flex;
    flex-direction: wrap;

    .label-upload {
        padding: 5px;
        border-radius: 3px;
        background: #ddd;
        text-align: center;
        color: #333;
        position: relative;


        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    .preview-image {
        height: 50px;
        width: 100%;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        // cursor: pointer;
    }
}